<%= form_with(model: pharmacy, local: true) do |form| %>
  <% if pharmacy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pharmacy.errors.count, "error") %> prohibited this pharmacy from being saved:</h2>

      <ul>
      <% pharmacy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :street_name %>
    <%= form.text_field :street_name %>
  </div>

  <div class="field">
    <%= form.label :house_number %>
    <%= form.text_field :house_number %>
  </div>

  <div class="field">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code %>
  </div>

  <div class="field">
    <%= form.label :cent_cost_per_phone_call %>
    <%= form.text_field :cent_cost_per_phone_call %>
  </div>

  <div class="field">
    <%= form.label :fax_number %>
    <%= form.text_field :fax_number %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website %>
  </div>

  <div class="field">
    <%= form.label :service_number %>
    <%= form.text_field :service_number %>
  </div>

  <div class="field">
    <%= form.label :facebook_profile %>
    <%= form.text_field :facebook_profile %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
