<%- model_class = Pharmacy -%>
<div class="page-header">
  <h1><%=t '.title', :default => @pharmacy.name %></h1>
</div>

<div id="tabs">
  <ul>
    <li><a href="#fragment-1">Information</a></li>
    <li><a href="#fragment-2">Business Hours</a></li>
    <li><a href="#fragment-3">Contact People</a></li>
    <li><a href="#fragment-4">Orders</a></li>
  </ul>
  <div id="fragment-1">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:street_name) %>:</strong></dt>
      <dd><%= @pharmacy.street_name %></dd>
      <dt><strong><%= model_class.human_attribute_name(:house_number) %>:</strong></dt>
      <dd><%= @pharmacy.house_number %></dd>
      <dt><strong><%= model_class.human_attribute_name(:postal_code) %>:</strong></dt>
      <dd><%= @pharmacy.postal_code %></dd>
      <dt><strong><%= model_class.human_attribute_name(:cent_cost_per_phone_call) %>:</strong></dt>
      <dd><%= @pharmacy.cent_cost_per_phone_call %></dd>
      <dt><strong><%= model_class.human_attribute_name(:fax_number) %>:</strong></dt>
      <dd><%= @pharmacy.fax_number %></dd>
      <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
      <dd><%= @pharmacy.email %></dd>
      <dt><strong><%= model_class.human_attribute_name(:website) %>:</strong></dt>
      <dd><%= @pharmacy.website %></dd>
      <dt><strong><%= model_class.human_attribute_name(:service_number) %>:</strong></dt>
      <dd><%= @pharmacy.service_number %></dd>
      <dt><strong><%= model_class.human_attribute_name(:facebook_profile) %>:</strong></dt>
      <dd><%= @pharmacy.facebook_profile %></dd>
    </dl>
  </div>
  <div id="fragment-2">
    <% @business_hours.each do |business_hour| %>
      <%= render 'business_hours/form', business_hour: business_hour, pharmacy: @pharmacy %>
    <% end %>
  </div>
  <div id="fragment-3">
    <% @contact_people.each do |contact_person| %>
      <%= render 'contact_people/form', contact_person: contact_person, pharmacy: @pharmacy  %>
    <% end %>
  </div>
  <div id="fragment-4">
    
    <% @orders.each do |order| %>
      <dt><strong>
        <%= order.campaign.name %>
      </strong></dt>
        <%  order.order_details.each do |order_detail| %>
          <dd>
            <%= render 'order_details/form', 
                order_detail: order_detail,
                product_name: order_detail.campaign_product.product.name %>
          </dd>
        <% end %>
    <% end %>

    <%= link_to 'Create Order',
        new_order_path,
        :class => 'btn btn-default' %>
  </div>
</div>

<br>

<%= link_to t('.back', :default => t("helpers.links.back")),
              pharmacies_path, :class => 'btn btn-default'  %>
