<!DOCTYPE html>
<html>
  <head>
    <title>Rosaka</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= nav_bar :static => :top, :brand => "RoSaKa" do %>
      <% menu_group :pull => :right do %>
          <%= menu_item "Campaigns", campaigns_path %>
          <%= menu_item "Products", products_path %>
          <%= menu_item "Pharmacies", pharmacies_path %>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
